/* navbar section */
.navbar{
	padding: 1rem 2rem;
}
.nav-item{
	margin-right: 0.75rem;
	margin-left: 0.75rem;
}
/* articles section */
.article{
	padding: 1rem 2.75rem;
}
.article-title{
	margin-bottom: 1rem;
}
.article-body{
	margin-bottom: 1.5rem;
}
/* contact-us and about-us section */
.contact-us, .about-us{
	padding: 1rem 2.75rem;
}
.contact-us h1, .about-us h1{
	margin-bottom: 1rem;
}

/* footer section */
.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}
