/* navbar section */
.navbar{
	padding: 1rem 2rem;
}
.nav-item{
	margin-right: 0.75rem;
	margin-left: 0.75rem;
}
/* articles section */
.article{
	padding: 1rem 2.75rem;
}
.article-title{
	margin-bottom: 1rem;
}
.article-body{
	margin-bottom: 1.5rem;
}
/* contact-us and about-us section */
.contact-us, .about-us{
	padding: 1rem 2.75rem;
}
.contact-us h1, .about-us h1{
	margin-bottom: 1rem;
}

/* footer section */
.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.icon{
	margin: 0 5px;
}
.icon{
	color: grey;
}
/* sign-in section */
.heading{
	text-align: center;
}
.social-buttons{
	text-align: center;
	padding: 10px;
}
.sign-in-form{
	padding:7% 10%;
}
.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.sign-in-form p{
	text-align: center;
}
