<%- include("partials/heading.ejs") -%>
  <div class="about">
    <div class="title">
      <h1>About</h1>
    </div>
    <div class="content">
      <div class="content-text">
        <p>Eton is an online platform where everyone can share their ideas
        through writing and posting an article.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam placerat eros erat, in fringilla leo pretium a. Sed volutpat eu urna nec venenatis.
          Suspendisse vestibulum maximus feugiat. Nulla facilisi. Nullam vehicula a urna eget auctor.
          Nulla orci nisl, iaculis vel rhoncus nec, accumsan sagittis justo. Phasellus sit amet enim iaculis, mollis elit ut, laoreet mi.
          Etiam suscipit sed magna quis hendrerit.
          Nulla rutrum neque nec condimentum iaculis. Morbi mollis aliquet dolor.
          Suspendisse a interdum eros. Quisque quis dolor id elit pellentesque aliquet eget eget purus.
          Praesent arcu eros, finibus non tincidunt sagittis, pharetra vel velit. Praesent in turpis in erat suscipit bibendum.
          Sed vitae condimentum nisl, at egestas libero.</p>

      </div>
    </div>
  </div>
<%- include("partials/footer.ejs") -%>
