<%- include("partials/heading") %>

  <div class="main-article">
    <div class="main-article-title">
      <h1><%= title %></h1>
    </div>
    <div class="main-article-body">
      <p><%= content %></p>
    </div>
  </div>

<%- include("partials/footer") %>
