
body {
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
h1{
	font-size: 45px;
}
p{
	font-size: 18px;
}
/**************************************************************/
/* navbar section */
.navbar{
	padding: 1rem 3.5rem;
}
.nav-item{
	margin-right: 0.75rem;
	margin-left: 0.75rem;
}
/**************************************************************/
/* welcome section */
.welcome{
	background-color: #222831;
	color: #fff;
	margin-bottom: 30px;
	padding: 1rem 4rem;
}
.welcome-heading{
	margin-bottom: 1rem;
}
.welcome-body{
	margin-bottom: 1.5rem;
}
/**************************************************************/
/*
articles section in home.ejs
displays articles in blocks in the home page
*/
.headline{
	margin-bottom: 30px;
	padding: 1rem 4rem;
}
.article-title{
	margin-bottom: 1rem;
}
.article-body{
	margin-bottom: 1.5rem;
}
/**************************************************************/
/*
main article section

These are the styling that are applied to the designated
page for the article

*/

.main-article{
	padding: 1rem 5rem;
}
.main-article-title h1{
	font-size: 3rem;
}
.main-article-body{
	margin-top: 50px;
}

/**************************************************************/
/* contact-us and about-us section */
.contact, .about{
	margin-top: 30px;
	padding: 1rem 4rem;
}
.contact h1, .about h1{
	margin-bottom: 1rem;
}

/* .footer {
	position: ;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #393E46;
  color: #EEEEEE;
  text-align: center;
} */
.icon{
	margin: 0 5px;
}
.icon:hover{
	color: #00ADB5;
}
/**************************************************************/
/* sign-in section */
.heading{
	text-align: center;
}
.sign-in-form{
	padding:7% 10%;
}
.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.sign-in-form p{
	text-align: center;
}
/**************************************************************/
/* compose */
.compose-form{
	padding: 1rem 4rem;
}
