/* navbar section */
.navbar{
	padding: 1rem 4rem;
}
.nav-item{
	margin-right: 0.75rem;
	margin-left: 0.75rem;
}
/* articles section */
.article{
	background-color: #222831;
	color: #fff;
	margin-bottom: 30px;
	padding: 1rem 4rem;
}
.article-title{
	margin-bottom: 1rem;
}
.article-body{
	margin-bottom: 1.5rem;
}
/* contact-us and about-us section */
.contact, .about{
	margin-top: 30px;
	padding: 1rem 4rem;
}
.contact h1, .about h1{
	margin-bottom: 1rem;
}

/* footer section */
.footer{
	background-color: #393E46;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #EEEEEE;
}
.icon{
	margin: 0 5px;
}
.icon:hover{
	color: #00ADB5;
}
.icon{
	color: #EEEEEE;
}
/* sign-in section */
.heading{
	text-align: center;
}
.sign-in-form{
	padding:7% 10%;
}
.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.sign-in-form p{
	text-align: center;
}
